:root {
    --primary-color: #857AA5;
    --secondary-color: #7CAE7A;
    --accent-color: #28A745;
    --text-dark: #313131;
    --text-light: #666;
    --background-dark: rgba(0, 0, 0, 0.5);
    --background-overlay: rgba(0, 0, 0, 0.4);
    --hover-color: #776b9b;
}

.divAboutMe {
    background-color: #e7e3f7;
}

h1.subtitulo {
    color: var(--text-dark);
    text-align: center;
    padding: 1em;
}

/* Media queries */

/* Para pantallas hasta 768px */
@media (max-width: 768px) {
    .subtitulo {
        font-size: 1.5em;
    }

}

/* Para pantallas mayores a 768px */
@media (min-width: 769px) {
    .subtitulo {
        font-size: 2.2em
    }
}