:root {
    --primary-color: #857AA5;
    --secondary-color: #7CAE7A;
    --accent-color: #28A745;
    --text-dark: #313131;
    --text-light: #666;
    --background-dark: rgba(0, 0, 0, 0.5);
    --background-overlay: rgba(0, 0, 0, 0.4);
    --hover-color: #776b9b;
}

.navBarItem,
.nav-link {
    color: white;
}

.navbar {
    background-color: var(--primary-color);
}